header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 45px;
}

header #logo a{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 145px;
}

header ul{

    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    width: 500px;
}

header ul li a{
    padding: 11px 6px;
    transition: 0.3s ease;
}
.botao, header ul li a:hover{
    background: var(--cor-verde-principal);
    color: var(--cor-texto-secundario);
}

.botao{
    padding: 11px 21px;
    border-radius: 10px;
}